<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!-- css -->
  <link rel="stylesheet" href="js/element-2.4.11/theme-chalk/index.css">
  <link rel="stylesheet" href="css/fontawesome5.6.3/css/all.css">
  <link rel="stylesheet" href="css/index.css">
</head>
<body class="animated fadeIn">
  <div id="app">
  
  	<div v-show="!preloading" class="el-loading-mask" style="background-color: rgba(255,255,255,1);">
	   <div class="el-loading-spinner">
	    <i class="fa fa-spinner fa-pulse"></i>
 	    <p class="el-loading-text">Loading...</p>
	   </div>
    </div>
    
    <section style="padding: 20px;" v-show="preloading">
		<!-- filter -->
		<el-row>
		<el-col :span="24" class="toolbar" style="padding-bottom: 0px;">
			<el-col :span="24">
			<el-tabs value="filter" >
			    <el-tab-pane label="筛选" name="filter" disabled>
			    <el-form :inline="true" :model="filters" style="float: right;">
					<el-form-item>
						  <el-input v-model="filters.sn" placeholder="请输入序列号" clearable></el-input>
					</el-form-item>
					<el-form-item>
					    <el-select v-model="filters.alarm" placeholder="报警状态">
						    <el-option
						      v-for="item in alarmOptions"
						      :key="item.value"
						      :label="item.label"
						      :value="item.value">
						    </el-option>
					    </el-select>
					</el-form-item>
					<el-form-item>
					    <el-select v-model="filters.connected" placeholder="连接状态">
						    <el-option
						      v-for="item in connectedOptions"
						      :key="item.value"
						      :label="item.label"
						      :value="item.value">
						    </el-option>
					    </el-select>
					</el-form-item>
					<el-form-item>
					    <el-select v-model="filters.status" placeholder="航标状态">
						    <el-option
						      v-for="item in statusOptions"
						      :key="item.value"
						      :label="item.label"
						      :value="item.value">
						    </el-option>
					    </el-select>
					</el-form-item>
					<el-form-item>
						<el-button type="primary" @click="query" icon="fa fa-search">&nbsp;&nbsp;查询</el-button>
						<el-button @click="reset" icon="fa fa-recycle">&nbsp;&nbsp;重置</el-button>
						&nbsp;&nbsp;&nbsp;&nbsp;
						<el-button type="primary" @click="handleAdd">新增</el-button>
					</el-form-item>
				</el-form>
			    </el-tab-pane>
		    </el-tabs>
				
			</el-col>
		</el-col>
		</el-row>
		
	    <el-tabs v-model="activeTab" >
		    <el-tab-pane label="结果" name="table" disabled>
				<!-- list -->
				<el-table :data="list" highlight-current-row border v-loading="listLoading" @selection-change="selsChange" style="width: 100%;" class="mytable" >
					<el-table-column label="Pid" prop="pid" width="120">
					</el-table-column>
					<el-table-column label="序列号" prop="sn" >
					</el-table-column>
					<el-table-column label="名称" prop="name" >
					</el-table-column>
					<el-table-column label="创建时间" prop="createtime" >
					</el-table-column>
					<el-table-column label="曾连接过" prop="connected" >
					</el-table-column>
					<el-table-column label="状态" prop="status" >
					</el-table-column>
					<el-table-column label="报警状态" prop="alarm">
					</el-table-column>
					<!-- <el-table-column label="重连次数" prop="resend" >
					</el-table-column> -->
					<el-table-column fixed="right" label="操作" width="180">
						<template scope="scope">
							<el-button size="small" @click="handleEdit(scope.$index, scope.row)">编辑</el-button>
							<el-button type="danger" size="small" @click="handleDel(scope.$index, scope.row)">删除</el-button>
						</template>
					</el-table-column>
				</el-table>
		
				<!-- page tool -->
				<el-col :span="24" class="toolbar">
					<!-- <el-button type="danger" @click="batchRemove" :disabled="this.sels.length===0">Batch remove</el-button> -->
					<el-pagination layout="total, sizes, prev, pager, next, jumper" @size-change="handleSizeChange" @current-change="handleCurrentChange" :page-sizes="[10, 20, 50, 100]" :page-size="rows" :total="total" style="float:right;">
					</el-pagination>
				</el-col>
			</el-tab-pane>
		  </el-tabs>
		
		
		<!-- add -->
		<el-dialog title="新增" :visible.sync="addFormVisible" :close-on-click-modal="false">
			<el-form :model="addForm"  :rules="addFormRules" ref="addForm">
				<el-form-item label="名称" prop="name">
					<el-input type="text" v-model="addForm.name"></el-input>
				</el-form-item>
				<el-form-item label="序列号" prop="sn">
					<el-input type="text" v-model="addForm.sn"></el-input>
				</el-form-item>
			</el-form>
			<div slot="footer" class="dialog-footer">
				<el-button @click="addClose">取消</el-button>
				<el-button type="primary" @click="addSubmit" :loading="addLoading">提交</el-button>
			</div>
		</el-dialog>
		
		<!-- edit -->
		<el-dialog title="编辑" :visible.sync="editFormVisible" :close-on-click-modal="false">
			<el-form :model="editForm" :rules="editFormRules" ref="editForm">
				<el-form-item label="名称" prop="name">
					<el-input type="text" v-model="editForm.name"></el-input>
				</el-form-item>
				<el-form-item label="序列号" prop="sn">
					<el-input type="text" v-model="editForm.sn" disabled></el-input>
				</el-form-item>
			</el-form>
			<div slot="footer" class="dialog-footer">
				<el-button @click="editClose">取消</el-button>
				<el-button type="primary" @click="editSubmit" :loading="editLoading">提交</el-button>
			</div>
		</el-dialog>
		
	</section>
  </div>
</body>
  <script src="js/jquery-3.4.1.js" type="text/javascript"></script>
  <script src="js/vue-2.6.10/vue.js" type="text/javascript"></script>
  <script src="js/element-2.4.11/index.js" type="text/javascript"></script>
  <script type="text/javascript" src="js/global.js"></script>
  <script type="text/javascript" src="js/beacon.js"></script>
</html>